---
http_interactions:
- request:
    method: get
    uri: https://www.boardgamegeek.com/xmlapi2/thing?id=24025
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      location:
      - https://boardgamegeek.com/xmlapi2/thing?id=24025
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Mon, 10 Jun 2024 05:46:40 GMT
- request:
    method: get
    uri: https://boardgamegeek.com/xmlapi2/thing?id=24025
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/xml; charset="UTF-8"
      etag:
      - W/"a29ece379db8936dca487ce6308900fe"
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?><items termsofuse=\"https://boardgamegeek.com/xmlapi/termsofuse\"><item
        type=\"boardgame\" id=\"24025\">\n         <thumbnail>https://cf.geekdo-images.com/FB4nBZGPLsr9d3__JhoyQw__thumb/img/a_WcFvpjuqira1cDmAmWbpZmFGU=/fit-in/200x150/filters:strip_icc()/pic214081.jpg</thumbnail>\n
        \     <image>https://cf.geekdo-images.com/FB4nBZGPLsr9d3__JhoyQw__original/img/hbx-ep0hLNEj8ek82Ue6sCDvppo=/0x0/filters:format(jpeg)/pic214081.jpg</image>\n
        \                                    \t\t\t\t\n\t\t\t\t<name type=\"primary\"
        sortindex=\"1\" value=\"Attacktix  Battle Figure Game: Marvel\" />\n\t\t\t\n\t\t\t\t\t\t
        \                          \n\t\t\t\t\t\t               \t\t\t\t\t\t\t\t\t\t\t\t\t<description>Attacktix
        is a battle figure game that combines great action figures with kinetic battling
        features.&amp;#10;&amp;#10;Each figure comes on a base that contains information
        such as speed, defense, point value, and special powers unique to that character.
        The goal of the game is simple &amp;ndash; be the last one standing.&amp;#10;&amp;#10;This
        version is based on characters in the Marvel Universe.&amp;#10;&amp;#10;There
        are multiple themes in the Attacktix series of games.&amp;#10;&amp;#10;</description>\n\t\t\t\t\t\t\t\t\t\t
        \     \t               \t\t\t\t<yearpublished value=\"2006\" />\n\t\t\t\t\t\t
        \              \t\t\t\t<minplayers value=\"2\" />\n\t\t\t\t\t\t               \t\t\t\t<maxplayers
        value=\"2\" />\n\t\t\t\t\t\t      \t\t\t<poll name=\"suggested_numplayers\"
        title=\"User Suggested Number of Players\" totalvotes=\"1\">\n\t\t\t\n\t\t<results
        numplayers=\"1\">\t\t\n\t\t\t\t\t<result value=\"Best\" numvotes=\"0\" />\n\t\t\t\t\t<result
        value=\"Recommended\" numvotes=\"0\" />\n\t\t\t\t\t<result value=\"Not Recommended\"
        numvotes=\"1\" />\n\t\t\t\t</results>\t\t\t\t\t\n\t\t\t\n\t\t<results numplayers=\"2\">\t\t\n\t\t\t\t\t<result
        value=\"Best\" numvotes=\"1\" />\n\t\t\t\t\t<result value=\"Recommended\"
        numvotes=\"0\" />\n\t\t\t\t\t<result value=\"Not Recommended\" numvotes=\"0\"
        />\n\t\t\t\t</results>\t\t\t\t\t\n\t\t\t\n\t\t<results numplayers=\"2+\">\t\t\n\t\t\t\t\t<result
        value=\"Best\" numvotes=\"0\" />\n\t\t\t\t\t<result value=\"Recommended\"
        numvotes=\"0\" />\n\t\t\t\t\t<result value=\"Not Recommended\" numvotes=\"1\"
        />\n\t\t\t\t</results>\t\t\t\t\t\n\t</poll> \t\t\t               \t\t\t\t<playingtime
        value=\"10\" />\n\t\t\t\t\t\t               \t\t\t\t<minplaytime value=\"10\"
        />\n\t\t\t\t\t\t               \t\t\t\t<maxplaytime value=\"10\" />\n\t\t\t\t\t\t
        \              \t\t\t\t<minage value=\"8\" />\n\t\t\t\t\t\t      \t\t\t<poll
        name=\"suggested_playerage\" title=\"User Suggested Player Age\" totalvotes=\"1\">\n\t\t\t<results>\t\t\n\t\t\t\t\t<result
        value=\"2\" numvotes=\"0\" />\n\t\t\t\t\t<result value=\"3\" numvotes=\"0\"
        />\n\t\t\t\t\t<result value=\"4\" numvotes=\"0\" />\n\t\t\t\t\t<result value=\"5\"
        numvotes=\"1\" />\n\t\t\t\t\t<result value=\"6\" numvotes=\"0\" />\n\t\t\t\t\t<result
        value=\"8\" numvotes=\"0\" />\n\t\t\t\t\t<resu[...]
